@import "tailwindcss";

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  aside, header, button, select, .print\:hidden {
    display: none !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
